<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Delete user</title>
</head>
<body>
<div class="delForm " >
    <form th:action="@{delete}"  method="POST" >
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="form-group  col-7 text-center">
                    <label for="id" class="col-form-label">Id</label>
                    <input type="text" class="form-control form-control-sm" id="id" name="id" th:value="*{id}" th:placeholder="*{id}" readonly>

                    <label for="firstName" class="col-form-label">First name</label>
                    <input type="text" class="form-control form-control-sm" id="firstName" name="firstName" th:placeholder="*{firstName}" readonly>

                    <label for="lastName" class="col-form-label">Last name</label>
                    <input type="text" class="form-control form-control-sm" id="lastName" name="lastName" th:placeholder="*{lastName}" readonly>

                    <label for="age" class="col-form-label">Age</label>
                    <input type="number" class="form-control form-control-sm" id="age" name="age" th:placeholder="*{age}" readonly>

                    <label for="username" class="col-form-label">Email</label>
                    <input type="email" class="form-control form-control-sm" id="username" name="username" th:placeholder="*{username}" readonly>

                    <label for="role" class="sr-only">Role</label>
                    <select multiple class="form-control form-control-sm" size="2" id="role" name="roles" th:selected="*{roles}" th:placeholder="*{roles}" readonly>
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_USER" >USER</option>
                    </select>
                    <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary m-3">Delete</button>
                </div>

            </div>
        </div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
