<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">-->


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--    <script type="text/javascript" th:src="@{/js/main.js}" src="../../static/js/main.js"></script>-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>
<!--    Modal Edit window-->

<div class="myForm" >
    <form  th:action="@{editSave}"  method="POST" action="editSave" >

        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="form-group text-center col-7 font-weight-bold" th:object="${user}">
                    <label for="id" class="col-form-label">ID</label>
                    <input type="text" class="form-control form-control-sm" id="id" name="id" th:value="*{id}" th:placeholder="*{id}" readonly>

                    <label for="firstName" class="col-form-label">First name</label>
                    <input type="text" class="form-control form-control-sm" id="firstName" name="firstName" th:value="*{firstName}" th:placeholder="*{firstName}">

                    <label for="lastName" class="col-form-label">Last name</label>
                    <input type="text" class="form-control form-control-sm" id="lastName" name="lastName" th:value="*{lastName}" th:placeholder="*{lastName}">

                    <label for="age" class="col-form-label">Age</label>
                    <input type="number" class="form-control form-control-sm" id="age" name="age" th:value="*{age}" th:placeholder="*{age}">

                    <label for="username" class="col-form-label">Email</label>
                    <input type="email" class="form-control form-control-sm" id="username" th:value="*{username}" name="username" th:placeholder="*{username}">

                    <label for="password" class="col-form-label">Password</label>
                    <input type="password" class="form-control form-control-sm" id="password" th:default="*{password}" name="password">

                    <label for="role" class="col-form-label">Role</label>
                    <select multiple size="2" class="form-control form-control-sm" id="role" th:default="*{roles}" name="role" >
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_USER" th:default="ROLE_USER">USER</option>
                    </select>
                    <button type="button" class="btn btn-secondary m-3" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary m-3" value="Edit">
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>