<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand"><a th:inline="text"> [[${#httpServletRequest.remoteUser}]] </a> with role <a th:inline="text"> [[${#httpServletRequest.remoteUser}]] </a> </a>
    <form class="form-inline" th:action="@{/logout}" method="POST">
        <input class="mr-sm-2" type="submit" value="Logout">
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky ">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item ">
                        <a class="nav-link active" href="#">
                            Admin <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            User
                        </a>
                    </li>
                </ul>

                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Admin panel</h1>
            </div>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" href="/admin/newUser">New User</a>
                </li>
            </ul>
            <h2>Add new user</h2>
            <div>
                <form action="create" method="post">
<!--                    <div class="form-group">-->
<!--                        <label for="id" class="col-form-label">Id:</label>-->
<!--                        <input type="text" class="form-control" id="id" name="id" readonly>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label for="firstName" class="col-form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName">
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-form-label">Age</label>
                        <input type="number" class="form-control" id="age" name="age">
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="role" class="sr-only">Role</label>
                        <select multiple size="2" class="form-control" id="role" name="role" >
                            <option value="ROLE_ADMIN">ADMIN</option>
                            <option value="ROLE_USER" th:default="ROLE_USER">USER</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">Add new user</button>
                    </div>
                </form>
            </div>
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->

<!--            </div>-->
        </main>
        </div>
    </div>
</div>
</body>
</html>