<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body >
<!--<div class="container">-->
    <nav class="navbar navbar-dark bg-dark text-left">
        <a class="navbar-item text-light">
            <span  class="text-light" th:inline="text"> [[${#httpServletRequest.remoteUser}]]
                <span class="text-light">with role </span>
<!--                <span th:inline="text" class="text-light" sec:authorize="isAuthenticated()">-->
<!--                <span sec:authentication="principal.authorities"></span>-->
                <span th:text="${userRoles}"></span>
                </span>
            </span>
        </a>
        <form class="form-inline" th:action="@{/logout}" method="POST">
            <input class="mr-auto" type="submit" value="Logout">
        </form>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar h-100">
            <div class="sidebar-sticky mt-3">
                <ul class="nav nav-pills flex-column">
                    <li  sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a class="nav-link active rounded" href="/admin/dashboard">
                            Admin <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded" href="/user/hello">
                            User
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="bg-light col-md-9 ml-sm-auto col-lg-10 px-4 mt-3 h-100">
            <h1 class="h2 ">Admin panel</h1>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a id="usertable" class="nav-link active" onclick="userTable()">Users table</a>
                </li>
                <li class="nav-item">
                    <a id="newuser" class="nav-link " onclick="createUser()">New User</a>
                </li>
            </ul>
            <table class="table " id="mainwindow">
                <thead class="thead-light">
                    <th scope="col" id="tablehead">All users</th>
                </thead>
                <tbody>
                    <div class="table-responsive">
                        <table class="table table-striped table-sm" id="table">
                            <thead>
                            <tr>
                                <th id="thid">Id</th>
                                <th id="thfirstName">First Name</th>
                                <th id="thlastName">Last Name</th>
                                <th id="thage">Age</th>
                                <th id="thusername">Email</th>
                                <th id="throle">Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="tablebody" >
<!--                                        <button type="button" class="btn btn-danger"  th:onclick="'javascript:delUser(\'' + ${user.getId()} +'\');'">Delete</button>-->
<!--                                <td ><button type="button" class="btn btn-primary"  th:onclick="'javascript:updateUser(\'' + 2 +'\');'">Edit</button></td>-->
<!--                                &lt;!&ndash;                                    </td>&ndash;&gt;-->
<!--                                <td>&nbsp;&nbsp;&nbsp;-->
<!--                                    <button type="button" class="btn btn-danger"  th:onclick="'javascript:delUser(\'' + 2 +'\');'">Delete</button>-->
<!--                                </td>-->
                            </tbody>
                        </table>
                    </div>
                </tbody>
            </table>
            <div class="container" style="display: none" id="newuserform">
                <div class="row justify-content-center align-items-center">
                    <div>
                        <form action="#" >
                            <div class=" form-control-sm text-center font-weight-bold">
                                <div class="form-group  my-1">
                                    <label for="firstName" class="col-form-label">First name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name">

                                    <label for="lastName" class="col-form-label">Last name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name">

                                    <label for="age" class="col-form-label">Age</label>
                                    <input type="number" class="form-control" id="age" name="age" placeholder="Age">

                                    <label for="username" class="col-form-label">Email</label>
                                    <input type="email" class="form-control" id="username" name="username" placeholder="Email">

                                    <label for="password" class="col-form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">

                                    <label for="role" class="col-form-label">Role</label>
                                    <select multiple size="2" class="form-control" id="role" name="role">
                                        <option value="ROLE_ADMIN">ADMIN</option>
                                        <option value="ROLE_USER" th:default="ROLE_USER">USER</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button id="btnAddUser" type="submit" class="btn btn-success">Add new user</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        </div>
    </div>
<!--</div>-->
<!-- Edit modal-->
<div class="modal" tabindex="-1" role="dialog" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="target">

            </div>

        </div>
    </div>
</div>

<!--    DELETE modal window-->

<div class="modal" tabindex="-1" role="dialog" id="delModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="targetDel">

            </div>

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>


    $(document).ready(function () {
        fetch('/rest')
            .then(response => response.json())
            .then(result => {
                $('#tablebody').empty()
                console.log(result)
                for(let user of result){
                    let roles = user.roles;
                    let roleNew = "";
                    for (let role of roles){
                        roleNew = roleNew + role.name.substr(5) + " "
                    }
                    $('#tablebody').append(`<tr id="infoUsers"></tr>
                    <td id="idUser">${user.id}</td>
                    <td id="idUser">${user.firstName}</td>
                    <td id="idUser">${user.lastName}</td>
                    <td id="idUsername">${user.username}</td>
                    <td id="idPassword">${user.age}</td>
                    <td id="idRole">${roleNew}</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" id="${user.id}" onclick="editUser(this)">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal" id="${user.id}" onclick="deleteUser(this)" >Delete</button></td>`)
                }
            })
    })

        function parseRoles(roles) {
            let res = "";
            for (let i = 0; i < roles.length; i++) {
                res += roles[i].name.substr(5) + " ";
            }
            return res;
        }

    // function updateUser(id) {
    //     $.ajax({
    //         url: "/rest/edit",
    //         type: "PUT",
    //         success: function (response) {
    //             // console.log(response);
    //             $('#target').html(response);
    //             $('#editModal').modal('show');
    //         }
    //     });
    // }

    function delUser(id) {
        $.ajax({
            url: "/admin/delete/" + id,
            success: function (response) {
                $('#targetDel').html(response);
                $('#delModal').modal('show');
            }
        });
    }
    function userTable() {
        $('#mainwindow').empty()
        $('#tablehead').text('All users')
        $('#newuser').removeClass('active')
        $('#usertable').addClass('active')
        $('#table').css('display', 'block')
        $('#newuserform').css('display', 'none')
        fetch('/rest')
            .then(response => response.json())
            .then(result => {
                $('#tablebody').empty()
                console.log(result)
                for(let user of result){
                    let roles = user.roles;
                    let roleNew = "";
                    for (let role of roles){
                        roleNew = roleNew + role.name.substr(5) + " "
                    }
                    $('#tablebody').append(`<tr id="infoUsers"></tr>
                    <td id="idUser">${user.id}</td>
                    <td id="idUser">${user.firstName}</td>
                    <td id="idUser">${user.lastName}</td>
                    <td id="idUsername">${user.username}</td>
                    <td id="idPassword">${user.age}</td>
                    <td id="idRole">${roleNew}</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" id="${user.id}" onclick="editUser(this)">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal" id="${user.id}" onclick="deleteUser(this)" >Delete</button></td>`)
                }
            })
    }
    function createUser() {
        $('#mainwindow').empty()
        $('#tablehead').text('Add new user')
        $('#newuser').addClass('active')
        $('#usertable').removeClass('active')
        $('#table').css('display', 'none')
        $('#newuserform').css('display', 'block')
        // $('#tablebody').append(`<tr id="infoUsers"></tr>
        //             <td id="idUser"></td>
        //             <td id="firstName"></td>
        //             <td id="lastName"></td>
        //             <td id="idUsername"></td>
        //             <td id="idPassword"></td>
        //             <td id="idRole"></td>
        //             <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"  onclick="editUser(this)">Cancel</button></td>
        //             <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal"  onclick="">Save</button></td>`)


        $('#btnAddUser').on('click', async function saveNewUser() {
            const username = $('#username').val()
            const password = $('#password').val()
            const firstName = $('#firstName').val()
            const lastName = $('#lastName').val()
            const age = $('#age').val()
            let role = $('#role').val()
            await fetch("/rest/new", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8'
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                    firstName:firstName,
                    lastName: lastName,
                    age: age,
                    roles: role
                })
            })
                .then(response => response.json())
                .then(result => {
                    $('#mainwindow').empty()

                    for (let user of result) {
                        let roles = user.roles;
                        let roleNew = "";
                        for (let role of roles) {
                            roleNew = roleNew + role.name.substr(5) + " "
                        }
                        $('#tablebody').append(`<tr id="infoUsers"></tr>
                    <td id="idUser">${user.id}</td>
                    <td id="firstName">${user.firstName}</td>
                    <td id="lastName">${user.lastName}</td>
                    <td id="idUsername">${user.username}</td>
                    <td id="idPassword">${user.password}</td>
                    <td id="idRole">${roleNew}</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" id="${user.id}" onclick="editUser(this)">Cancel</button></td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal"  id="${user.id}" onclick="">Save</button></td>`)
                    }
                })
        })
    }

    function deleteUser(butClick){
        let id = butClick.id
        fetch(`/rest/delete/${id}`, {
            method : 'DELETE'
        })
            .then(response => response.json())
            .then(result => {
                $('#targetDel').empty()
                let roles = result.roles;
                let roleNew = "";
                for (let role of roles){
                    roleNew = roleNew + role.name.substr(5) + " "

                }
                $('#targetDel').append(`
                <form>
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="idDel">Id</label>
                            <input type="text" value="${result.id}" class="form-control" id="idDel" placeholder="id">
                        </div>
                        <div class="form-group">
                            <label for="userameDel">Username</label>
                            <input type="text" value="${result.username}" class="form-control" id="userameDel" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="passwordDel">Password</label>
                            <input type="text" value="${result.password}" class="form-control" id="passwordDel" placeholder="password">
                        </div>
                        <div class="form-group">
                            <label for="roleDel">Role</label>
                            <input type="text" value="${roleNew}" class="form-control" id="roleDel" placeholder="role">
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="${result.id}" onclick="deleteResult(this)">Delete</button>
                    </div>
                </form>
                `)
            })
    }
    async function editUser(butClick) {
        let id = butClick.id
        await fetch(`/rest/edit/${id}`, {
                method : 'PUT'
            })
                .then(response => response.json())
                .then(result => {
                    $('#editModal').empty()
                //     $('#editModal').append(`<tr id="infoUsers"></tr>
                //     <td id="idUser">${result.id}</td>
                //     <td id="idUser">${result.firstName}</td>
                //     <td id="idUser">${result.lastName}</td>
                //     <td id="idUsername">${result.username}</td>
                //     <td id="idRole">${result.roles}</td>
                //     <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" id="${user.id}" onclick="dismiss">Cancel</button></td>
                //     <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal" id="${user.id}" onclick="editUser(this)" >Save</button></td>`)
                // })
                //         `$('#id').val(result.id)
                //     $('#username').val(result.username)
                //     $('#password').val(result.password)`)
                //     // $('#target').html(result);
                //     // $('#editModal').modal('show');
                // })
                // .then(function (result) {
                //     $('#target').html(result);
                //     $('#editModal').modal('show');
                // })
    })}

</script>
</body>
</html>
