<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Edit user</title>
</head>
<body>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="id" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" id="id" name="id" readonly>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="col-form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" name="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName" name="lastName">
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-form-label">Last name</label>
                        <input type="number" class="form-control" id="age" name="age">
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-form-label">Last name</label>
                        <input type="email" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="role" class="sr-only">Role</label>
                        <select multiple size="2" class="form-control" id="role" name="role" >
                            <option value="ROLE_ADMIN">ADMIN</option>
                            <option selected="selected" value="ROLE_USER" th:default="ROLE_USER">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

    <!--    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">-->
    <!--        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">with role</a>-->
    <!--        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <!--        <ul class="navbar-nav px-3">-->
    <!--            <li class="nav-item text-nowrap">-->
    <!--                <a class="nav-link" href="#">Logout</a>-->
    <!--            </li>-->
    <!--        </ul>-->
    <!--    </nav>-->
    <!--    <div class="container-fluid">-->

    <!--        <div class="row">-->
    <!--            // Left panel-->
    <!--            <nav class="col-md-2 d-none d-md-block bg-light sidebar">-->
    <!--                <div class="sidebar-sticky">-->
    <!--                    <ul class="nav flex-column">-->
    <!--                        <li class="nav-item">-->
    <!--                            <a class="nav-link active" href="#">-->
    <!--                                Admin <span class="sr-only">(current)</span>-->
    <!--                            </a>-->
    <!--                        </li>-->
    <!--                        <li class="nav-item">-->
    <!--                            <a class="nav-link" href="#">-->
    <!--                                User-->
    <!--                            </a>-->
    <!--                        </li>-->
    <!--                    </ul>-->

    <!--                    </ul>-->
    <!--                </div>-->
    <!--            </nav>-->
    <!--            //MAin window-->
    <!--            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>-->
    <!--                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
    <!--                    <h1 class="h2">Admin panel</h1>-->
    <!--                    <div class="btn-toolbar mb-2 mb-md-0">-->
        <!--    <body>-->
        <!--        <div align="center">-->
        <!--            <h2>Edit User:</h2>-->
        <!--            <form action="editSave" method="POST">-->
        <!--                <label for="username">Login</label>-->
        <!--                <br>-->
        <!--                <input id="username" name="username" type="text" th:value="*{user.username}">-->
        <!--                <br>-->
        <!--                <label for="password">Password</label>-->
        <!--                <br>-->
        <!--                <input id="password" name="password" type="text" th:value="*{user.password}">-->
        <!--                <br>-->
        <!--                <select multiple size="2" name="role" >-->
        <!--                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>-->
        <!--                    <option selected="selected" value="ROLE_USER">ROLE_USER</option>-->
        <!--                </select>-->
        <!--                <input type="hidden" name="id" th:value="*{user.id}">-->
        <!--                <input type="submit" value="Save">-->
        <!--            </form>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </main>-->
    <!--        </div>-->
    <!--    -->
    <!--    </div>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
